.badge {min-height:0;}
.sidebar-card, .main-card {border:none; box-shadow:0 0.125rem 0.25rem rgba(0,0,0,0.05); border-radius:0.5rem;}
.table {--bs-table-hover-bg:rgba(var(--bs-emphasis-color-rgb), 0.001);}
.form-control, .form-select, select.form-control, select.form-select {font-size:1rem!important; width:100%!important; min-width:0; cursor:auto;}
textarea.form-control {min-height:0;}
.form-floating > .form-control, .form-floating > .form-control-plaintext {padding-right:0.75rem!important; padding-left:0.75rem!important;}
.form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown), .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown), .form-floating > .form-select {padding-top:1.625rem!important; padding-bottom:0.625rem!important;}
.form-floating > label {left:1px;}
.form-floating:focus ~ label, .form-control ~ label, .form-select ~ label, select.form-control ~ label, select.form-select ~ label {top:-2px;}
.form-floating > .form-control-plaintext ~ label, .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {transform:scale(0.85) translateY(-0.5rem) translateX(0.15rem);}
#addUserForm [type="submit"] {margin-right:calc(var(--bs-gutter-x) * 0.5); margin-left:calc(var(--bs-gutter-x) * 0.5); width:calc(100% - ((var(--bs-gutter-x) * 0.5) * 2))!important;}
.choices__inner {background-color:#fff!important; border:1px solid var(--bs-border-color, #dee2e6)!important; border-radius:0.375rem!important; min-height:38px!important; padding:2px 6px!important;}
.choices__list--multiple .choices__item {background-color:var(--bs-info-bg-subtle)!important; border:1px solid var(--bs-info-border-subtle)!important; color:rgba(var(--bs-primary-rgb),1); font-size:0.8rem;}
.choices {position:relative; overflow:hidden; margin-bottom:24px; font-size:16px;}
.choices:focus {outline:0;}
.choices:last-child {margin-bottom:0;}
.choices.is-open {overflow:visible;}
.choices.is-disabled :is(.choices__inner, .choices__input) {background-color:#eaeaea; cursor:not-allowed!important; -webkit-user-select:none; user-select:none;}
.choices.is-disabled .choices__item {cursor:not-allowed; color:#fff;}
.choices [hidden] {position:absolute; inset:0; pointer-events:none; opacity:0;}
.choices[data-type*="select-one"] {cursor:pointer;}
.choices[data-type*="select-one"] .choices__inner {padding-bottom:7.5px;}
.choices[data-type*="select-one"] .choices__input {display:block; width:100%; padding:10px; border-bottom:1px solid #ddd; background-color:#fff; margin:0;}
.choices[data-type*="select-one"] .choices__button {position:absolute; top:50%; right:0; margin-top:-10px; margin-right:25px; padding:0; width:20px; height:20px; border-radius:10em; opacity:0.25; background-size:8px;
background-image:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");}
.choices[data-type*="select-one"] .choices__button:is(:hover, :focus) {opacity:1;}
.choices[data-type*="select-one"] .choices__button:focus {box-shadow:0 0 0 2px #005f75;}
.choices[data-type*="select-one"] .choices__item[data-placeholder] .choices__button {display:none;}
.choices[data-type*="select-one"]::after {content:""; height:0; width:0; border-style:solid; border-color:#333 transparent transparent transparent; border-width:5px; position:absolute; right:11.5px; top:50%; margin-top:-2.5px; pointer-events:none;}
.choices[data-type*="select-one"].is-open::after {border-color:transparent transparent #333; margin-top:-7.5px;}
.choices[data-type*="select-one"][dir="rtl"]::after {left:11.5px; right:auto;}
.choices[data-type*="select-one"][dir="rtl"] .choices__button {right:auto; left:0; margin-left:25px; margin-right:0;}
.choices:is([data-type*="select-multiple"], [data-type*="text"]) .choices__inner {cursor:text;}
.choices:is([data-type*="select-multiple"], [data-type*="text"]) .choices__button {position:relative; display:inline-block; margin:0 calc(8px * -0.5) 0 8px; padding-left:calc(8px * 2); border-left:1px solid rgba(0,0,0,0.17); width:8px; line-height:1; border-radius:0; opacity:0.75; background-size:12px;
background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23000" class="bi bi-x-lg" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/></svg>');}
.choices:is([data-type*="select-multiple"], [data-type*="text"]) .choices__button:is(:hover, :focus) {--choices-button-opacity:1;}
.choices__inner {display:inline-block; vertical-align:top; width:100%; background-color:#f9f9f9; padding:7.5px 7.5px 3.75px; padding-top:7px!important; padding-bottom:3px!important; border:1px solid #ddd; border-radius:2.5px; font-size:14px; min-height:44px; overflow:hidden;}
.is-focused .choices__inner,
.is-open .choices__inner {border-color:color-mix(in srgb,#ddd 85%,#000);}
.is-open .choices__inner {border-radius:2.5px 2.5px 0 0;}
.is-invalid .choices__inner {border-color:#d33141;}
.is-flipped.is-open .choices__inner {border-radius:0 0 2.5px 2.5px;}
.choices__list {margin:0; padding-left:0; list-style:none;}
.choices__list--single {display:inline-block; padding:4px 16px 4px 4px;}
[dir="rtl"] .choices__list--single {padding-right:4px; padding-left:16px;}
.choices__list--single,
.choices__list--single .choices__item {width:100%;}
.choices__list--multiple {display:inline;}
.choices__list--multiple .choices__item {display:inline-block; vertical-align:middle; border-radius:20px; padding:2px 10px 4px; font-size:16px; font-weight:500; line-height:1; margin-right:3.75px; margin-bottom:3.75px; background-color:var(--bs-info-bg-subtle); border:1px solid var(--bs-info-border-subtle); color:rgba(var(--bs-primary-rgb),1); word-break:break-all; box-sizing:border-box;}
.choices__list--multiple .choices__item[data-deletable] {padding-right:5px;}
[dir="rtl"] .choices__list--multiple .choices__item {margin-right:0; margin-left:3.75px;}
.choices__list--multiple .choices__item.is-highlighted {background-color:color-mix(in srgb,#005f75 95%,#000); border:1px solid color-mix(in srgb,#005f75 90%,#000);}
.is-disabled .choices__list--multiple .choices__item {background-color:color-mix(in srgb,#eaeaea 75%,#000); border:1px solid color-mix(in srgb,#eaeaea 65%,#000);}
.choices__list--dropdown,
.choices__list[aria-expanded] {display:none; z-index:1; position:absolute; width:100%; background-color:#fff; border:1px solid #ddd; top:100%; margin-top:-1px; border-bottom-left-radius:2.5px; border-bottom-right-radius:2.5px; overflow:hidden; word-break:break-all;}
.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {display:block;}
.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {border-color:color-mix(in srgb,#ddd 85%,#000);}
.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {top:auto; bottom:100%; margin-top:0; margin-bottom:-1px; border-radius:0.25rem 0.25rem 0 0;}
.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {position:relative; max-height:300px; overflow:auto; -webkit-overflow-scrolling:touch; will-change:scroll-position;}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {position:relative; padding:10px; font-size:14px;}
[dir="rtl"] .choices__list--dropdown .choices__item,
[dir="rtl"] .choices__list[aria-expanded] .choices__item {text-align:right;}

@media (min-width:640px) {
.choices__list--dropdown .choices__item--selectable.is-highlighted[data-select-text],
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted[data-select-text] {padding-right:100px;}
.choices__list--dropdown .choices__item--selectable.is-highlighted[data-select-text]::after,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted[data-select-text]::after {content:attr(data-select-text); font-size:12px; position:absolute; right:10px; top:50%; transform:translateY(-50%);}
[dir="rtl"] .choices__list--dropdown .choices__item--selectable.is-highlighted[data-select-text],
[dir="rtl"] .choices__list[aria-expanded] .choices__item--selectable.is-highlighted[data-select-text] {text-align:right; padding-left:100px; padding-right:10px;}
[dir="rtl"] .choices__list--dropdown .choices__item--selectable.is-highlighted[data-select-text]::after,
[dir="rtl"] .choices__list[aria-expanded] .choices__item--selectable.is-highlighted[data-select-text]::after {right:auto; left:10px;}
}

.choices__list--dropdown .choices__item--selectable.is-selected::after,
.choices__list[aria-expanded] .choices__item--selectable.is-selected::after {content:none!important;}
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list--dropdown .choices__item--selectable.is-selected,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-selected {background-color:#f2f2f2;}
.choices__item {cursor:default;}
.choices__item--selectable {cursor:pointer;}
.choices__item--disabled {cursor:not-allowed; -webkit-user-select:none; user-select:none; opacity:0.5;}
.choices__heading {font-weight:600; font-size:12px; padding:10px; border-bottom:1px solid color-mix(in srgb,#ddd 90%,#fff); color:#808080;}
.choices__button {text-indent:-9999px; appearance:none; border:0; background-color:transparent; background-repeat:no-repeat; background-position:center; cursor:pointer;}
.choices__button:focus,
.choices__input:focus {outline:0;}
.choices__input {display:inline-block; vertical-align:baseline; background-color:#f9f9f9; font-size:14px; margin-bottom:0; border:0; border-radius:0; max-width:100%; padding:4px 0 4px 2px;}
.choices__input::-webkit-search-cancel-button,
.choices__input::-webkit-search-decoration,
.choices__input::-webkit-search-results-button,
.choices__input::-webkit-search-results-decoration {display:none;}
.choices__input::-ms-clear,
.choices__input::-ms-reveal {display:none; width:0; height:0;}
[dir="rtl"] .choices__input {padding-right:2px; padding-left:0;}
.choices__placeholder {opacity:0.5;}
